## Решение ДЗ

In [148]:
import pandas as  pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression

In [149]:
df = pd.read_csv ('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [150]:
def Native_country( row ):
  
    
    ##if not df.isnull( row['native-country'] ):
        if row['native-country'] == 'United-States':
            return 'United-States'

        else:
            return 'Other'

In [151]:
df['Native-coutry-mod'] = df.apply (Native_country, axis = 1)

# попробуем выбрать какие-нибудь признаки создадим сразу два набора, причем второй дополним двумя полями к первому

In [152]:

selectedColumns = df[ [ 'age', 'education', 'gender','income' ] ]
selectedColumns2 = df[['Native-coutry-mod','race','age', 'education', 'gender','income']]

X = pd.get_dummies( selectedColumns, columns = [ 'gender' , 'education'] )
X2 = pd.get_dummies( selectedColumns2, columns = ['Native-coutry-mod','race', 'gender' , 'education'] )

# столбец income является целевой переменной, удаляем его из X
del X['income']
del X2['income']

X2.head()

,age,Native-coutry-mod_Other,Native-coutry-mod_United-States,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male,...,education_9th,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,education_Doctorate,education_HS-grad,education_Masters,education_Preschool,education_Prof-school,education_Some-college
0,25,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,38,0,1,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
2,28,0,1,0,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
3,44,0,1,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,18,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1

In [153]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit( df['income'] )
##le.classes_
le.transform( [ '<=50K','>50K' ] )

array([0, 1], dtype=int64)

In [154]:
y = pd.Series( data = le.transform( df['income'] ) )
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int64

In [155]:
model = LogisticRegression()

In [156]:
# обучаем модель первую модель

model.fit( X, y )
predictions = model.predict_proba( X )

In [157]:
###list(zip( predictions[:, :], y ))

In [158]:
model.score(X, y)

0.7965890012693992

In [159]:
## обучаем вторую модель
model2 =  LogisticRegression()

In [160]:
model2.fit( X2, y )
predictions2 = model2.predict_proba( X2 )

In [161]:
model2.score(X2, y)

0.7960566725359322

# Получили примерно одинаковую точность.